{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% csrf_token %}
<meta name="csrf-token" content="{{ csrf_token }}">

        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'post-list' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-list'%}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
<script>
        $(document).ready(function () {
        var csrftoken = $('meta[name=csrf-token]').attr('content');  // Make sure your meta tag has the 'name' attribute set to 'csrf-token'

    $('.like-btn').click(function (e) {
        e.preventDefault();
        var postId = $(this).data('post-id');
        var likeBtn = $(this);
        
        $.ajax({
            url: '/post/' + postId + '/like/',
            type: 'POST',
            headers: {'X-CSRFToken': csrftoken},  // Include the CSRF token in the request headers
            success: function (data) {
                if (data.success) {
                    var likeCount = data.count;
                    likeBtn.find('.like-count').text(likeCount);
                }
            },
            error: function (xhr) {
                console.log('Error:', xhr.responseText);
            }
        });
    });
});
</script>   
    </body>

  
</html>